<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Youtube Pulse</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}">
</head>
<body>
  <nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item has-text-danger is-size-1 has-text-weight-bold">Youtube Pulse</a>
          <img src="{{ url_for('static', filename='maxresdefault.jpg') }}"  width="112" height="28">
        </div>
    </div>
  </nav>
  
  <section class="hero is-light is-fullheight-with-navbar">
    <div class="hero-head">
      <div class="container has-text-centered">
          {% block heading %}{% endblock %}
        
        <!-- flash message-->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <article class="message is-centered" style="width: 500px; margin: auto;">
            <div class="message-body">
              {% for msg in messages %}
                <p>{{ msg }}</p>
              {% endfor %}
            </div>
          </article>
          {% endif %}
        {% endwith %}

      </div>
    </div>

    <div class="hero-body">
      <div class="container">
    
        {% block main %}{% endblock %}
    
      </div>
    </div>

  </section>

</body>
</html>

