<!-- index.html -->
{% extends 'base.html' %}

{% block heading %}

{% endblock %}

{% block main %}



<p class="title has-text-centered has-text-danger">
    Enter a youtube video url 
  </p>

<div class="columns">
    <div class="column is-offset-2 is-8">
      <form action="{{ url_for('results') }}" method="POST">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input type="text" name="url" class="input" placeholder="http://example.com">
          </div>
          <div class="control">
            <button class="button is-danger">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>


<progress class="progress is-danger" value="90" max="100">90%</progress>





{% endblock %}